.n-wrapper {
    background-color: var(--primary-color);
    width: 100%;
    position: absolute;
    z-index: 999;
    
}

.container{
    overflow: visible;
}

.sticky{
    position: fixed;
    box-shadow: 10px 12px 48px rgba(181, 187, 201, .206);
    background: white;
    top: 0;
}

.n-container {
    padding: 1.5rem 1rem;
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.sticky .n-container{
    color: var(--title-color);
    padding: 1rem;
}

.n-logo {
    font-weight: bold;
    cursor: pointer;
}

.n-right {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    font-size: 0.9rem;
}

.n-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.n-menu span {
    cursor: pointer;
}

.fund-button {
    color: var(--dark-bg);
    background-color: var(--third-color);
    padding: 0.5rem 2rem;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 999px;
}

.nm-container {
    display: none;
}

.avatar-container {
    text-align: center;
    position: relative;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  
  .n-container .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #DDD;
    
  }

  .profile-menu {
    position: absolute;
    top: 100%; /* Position it below the avatar container */
    right: 0; /* Align it to the right edge of the avatar container */
    z-index: 1000; /* Make sure it stacks on top of other content */
    /* Add any other styles for box shadow, background, etc. here */
    overflow: visible!important;
  }

  

@media (max-width: 1200px){
    .container{
        overflow: hidden;
    }

    .n-container {
        display: none;
    }
    .nm-container {
        display: block;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        position: relative;
        background-color: var(--primary-color);
    }

    .nm-container .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #DDD;
        margin-bottom: 10px;
      }

    .nm-container>:nth-child(1)
    {
        font-weight: bold;
    }

    .nm-menu{
        position: fixed;
        top: 3.9rem;
        padding: 3rem 2em;
        box-sizing: border-box;
        left: 0;
        display: flex;
        background-color: var(--primary-color);
        flex-direction: column;
        transform: translateX(-150%);
        transition: all 300ms ease-in-out;
        width: 100%;
        font-size: 1.2rem;
        z-index: 99;
        height: calc(100vh - 3.9rem);
    }

    .nm-menu span{
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--border-color);
    }

    .m-funded-button{
        width: 100%;
        background-color: var(--third-color);
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 1rem 0rem;
        border-radius: 999px;
        color: var(--dark-bg);
    }

    .m-logout-button{
        width: 100%;
        background-color: var(--logout-color);
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 1rem 0rem;
        border-radius: 999px;
        color: white;
    }

    /* Mobile user info styles */
    .mobile-user-info {
        display: flex;
        align-items: center;
        gap: 1rem; /* Adjust as needed */
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
  }
  
    .mobile-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
  }
  
    .mobile-email {
         color: white;
    /* Add other styles as needed */
  }
  
    .mobile-menu-item {
        padding: 10px 0;
        cursor: pointer;
        border-bottom: 1px solid var(--border-color);
  }
  
  /* Adjust the padding or margin as needed to fit the logout button */
    .m-funded-button, .mobile-menu-item {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
  }
}